:root{
  --background-color: #060606;
  --window-color: #1D1E22;
  margin: 0px;
}

body {
  background-color: var(--background-color);
  color: white;
}

h5 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: aquamarine;
}

h6 {
  margin: 0px;
}

.container {
  background-color: var(--window-color);
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  aspect-ratio: 1;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
}

.key-button {
  aspect-ratio: 1;
  box-sizing: border-box;
  width: 100%;
  background-color: aquamarine;
}

.controls {
  box-sizing: border-box;
  width: 160px;
}

.toggle-container {
  width: 100%;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#mode-display {
  width: 100%;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#instrument-display {
  background-color: aquamarine;
  width: 180px;
  height: 40px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#instrument-display > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}