:root{
  --background-color: #060606;
  --window-color: #1D1E22;
  --scale-factor: min(1, calc(100vw / 600px));
  margin: 0px;
}

body {
  background-color: var(--background-color);
  color: white;
}

h5 {
  font-size: min(1.5rem, 5vw);
  margin-top: min(1.5rem, 4vw);
  margin-bottom: min(1rem, 2vw);
  color: aquamarine;
}

h6, button {
  margin: 0px;
  font-size: min(1rem, 2.5vw);
}

.container {
  background-color: var(--window-color);
  width: min(600px, 100vw);
  aspect-ratio: calc(3/2);
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  aspect-ratio: 1;
  box-sizing: border-box;
  height: 100%;
  padding: min(3vw, 15px);
}

.key-button {
  aspect-ratio: 1;
  box-sizing: border-box;
  width: 100%;
  background-color: aquamarine;
}

.controls {
  box-sizing: border-box;
  width: max(30vw, 128px);
  padding-right: min(4vw, 40px);
}

.toggle-container {
  width: 100%;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: min(1rem, 2vw);
}

#mode-display {
  width: 100%;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: min(1rem, 2vw);
}

#instrument-display {
  background-color: aquamarine;
  width: min(180px, 25vw);
  height: 40px;
  margin-bottom: min(1rem, 2vw);
  text-align: center;
  font-size: min(1.5rem, 4vw);
  color: black;
  font-weight: bold;
}

#instrument-display > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.slider {
  width: min(180px, 25vw);
}